*.iml
.gradle
/local.properties
/.idea/
.idea
/.metals/
.metals
/.vscode/
.vscode
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/credentials.properties
credentials.properties
/.git/
.git
/.claude/
.claude
/app/release/*
